@using _3DCytoFlow.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div id="page-wrapper">
    @{
        Html.RenderPartial("LoginPartial", Model);
    }
</div>

@*    @if (User.Identity.IsAuthenticated)*@
@*    {*@
@*        <div id="page-wrapper">*@
@*            @{*@
@*                Html.RenderPartial("LoginPartial", Model);*@
@*            }*@
@*        </div>*@
@*    }*@
@*    else*@
@*    {*@
@*        Html.RenderPartial("LoginPartial", Model);            *@
@*    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}