@using Microsoft.Ajax.Utilities
@model IEnumerable<Analysis>

@{
    ViewBag.Title = "Results";
    var directory = "";
}

<link rel="stylesheet" type="text/css" href="~/Content/stylish.css">
<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/OrbitControls-Touch.js"></script>
<script src="~/Scripts/rAF.js"></script>
<script src="~/Scripts/lodash.min.js"></script>
<script src="~/Scripts/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/semantic.min.css">
<div id="page-wrapper">
    <div id="body3">
        <div class="form-group" id="analysisGroup">
            <div class="label " id="label2">Patient's Name - Data Upload Date</div>
            <div>
                <select class="form-control" name="status" id="analysisSelect">

                    @foreach (var analysis in Model.Where(analysis => analysis.ResultFilePath != null))
                    {
                        if (directory.IsNullOrWhiteSpace())
                        {
                            directory = analysis.User.LastName + "-" + analysis.User.FirstName + "-" + analysis.User.Id + "/";
                            directory = directory.ToLower();
                        }

                        var displayName = analysis.Patient.LastName + ", " + analysis.Patient.FirstName + " | " + analysis.Date.ToString("MM-dd-yyyy");

                        <option>@displayName</option>
                    }
                    
                </select>
            </div>
        </div>

        <div id="info-box" class="hidden">
            <div class="ui segment">
                <div class="ui green inverted statistic">
                    <div id="statsSize" class="value">
                        0
                    </div>
                    <div class="label">
                        Points Plotted
                    </div>
                </div>
                <div class="ui blue inverted statistic">
                    <div id="clusterSize" class="value">
                        0
                    </div>
                    <div class="label">
                        Cluster
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <i class="ui white big undo icon"></i>

            <div class="ui inverted toggle checkbox">
                <label id="rotateLabel">Rotate</label>
                <input type="checkbox" name="rotateCheckbox" checked="checked" onClick="rotateToggle()">
            </div>

            <div class="ui divider"></div>
            <div id="clusterInfo"></div>

        </div>

        <i class="fixed big white info icon" id="infoButt"></i>

        <!--PUSHER -->
        <div class="pusher">
            <canvas id="data-canvas"></canvas>
            <div id="loader">
                <div class="ui large indeterminate loader"></div>
            </div>
        </div>

        <script src="~/Scripts/dreda.js"></script>
        <script src="~/Scripts/ui.js"></script>
        <script>
            $(document).ready(function () {

                DownloadCurrentResult();

                $('#analysisSelect').on('change', function () {
                    DownloadCurrentResult();
                });

            });

            function DownloadCurrentResult() {

                window.showLoadingScreen();

                $.ajax({
                    type: "POST",
                    async: true,
                    url: "/File/DownloadResult?path=" + getPath($('#analysisSelect').val())
                }).done(function (model) {

                    $("#loading").remove();

                    if (model !== undefined && model !== "") {
                        data = JSON.parse(model);
                        plot(data);
                    } else {
                        alert("This file is corrupted");
                    }
                }).fail(function () {
                    $("#loading").remove();
                    alert("failed");
                });
            }

            //get the right name of the blob
            function getPath(value) {
                data = null;
                return '@(directory)' + value.replace(/ /g, '').replace(",", "-").replace("|", "/").toLowerCase() + ".json";
            }
        </script>
    </div>
</div>


